<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/elon">See More About Elon</a>
      <a href="/works">See More Work from Elon</a>
    </div>
    <h1>Welcome To Elon Musk Fan Page</h1>
    <p>Elon Musk is the co-founder and CEO at Tesla, overseeing all product design, engineering and manufacturing of the company's electric vehicles, battery products, and Solar Roofs.

      Since the company’s inception in 2003, Tesla’s mission has been to accelerate the world’s transition to a sustainable energy future. The first Tesla product, the Roadster sports car, debuted in 2008, followed by the Model S sedan, which was introduced in 2012, and the Model X SUV, which launched in 2015. Model S was named Motor Trend 2013 Car of the Year and received Consumer Reports’ Best Overall Car, while Model X was the first SUV ever to earn 5-star safety ratings in every category and sub-category in the National Highway Traffic Safety Administration’s tests. In 2017, Tesla began deliveries of Model 3, a $35,000 mass-market electric car with over 215 miles of range, and unveiled Tesla Semi, which is designed to save owners at least $200,000 over a million miles based on fuel costs alone.
      
      Tesla also produces two energy storage products, the Powerwall home battery and the Powerpack industrial-scale battery. In 2016, Tesla became the world’s first vertically-integrated sustainable energy company with the acquisition of SolarCity, the leading provider of solar power systems in the United States, and in 2017 released Solar Roof – a beautiful and affordable energy generation product.
      
      Elon is also the co-founder, CEO and lead designer of Space Exploration Technologies (SpaceX), where he oversees the development and manufacturing of advanced rockets and spacecraft for missions to and beyond Earth orbit, with the goal of creating a self-sustaining city on Mars. He is also CEO of Neuralink, which is developing ultra-high bandwidth brain-machine interfaces to connect the human brain to computers. Elon also founded and serves as CEO of The Boring Company, which combines fast, affordable tunneling technology with an all-electric public transportation system in order to alleviate soul-crushing urban congestion and enable high-speed long-distance travel.
      
      Previously, Elon co-founded and sold PayPal, the world's leading Internet payment system, and Zip2, one of the first internet maps and directions services, which helped bring major publishers like the New York Times and Hearst online.</p>

    <!-- <a href="/elon">See More About Elon</a> <br>
    <a href="/works">See More Work from Elon</a> -->
    
  </body>
</html>