<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elon Musk</title>
    <link rel="stylesheet" href="/stylesheets/style2.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/elon">See More About Elon</a>
        <a class="active" href="/works">See More Work from Elon</a>
      </div>
    <h1>Elon Musk's Works</h1>
    <p>This is my third route</p>
    <!-- <img src="/images/spacex.jpeg" />
    <img src="/images/boring.jpeg" />
    <img src="/images/paypal.jpeg" /> -->
    <div class = "gallery">
        <div class="clipped-border">
           <a href="/images/spacex.jpeg"> <img src="/images/spacex.jpeg" id="clipped" /> </a>
        </div>
        <div class="clipped-border">
           <a href="/images/boring.jpeg"><img src="/images/boring.jpeg" id="clipped"></a> 
        </div>
        <div class="clipped-border">
           <a href="/images/paypal.jpeg"><img src="/images/paypal.jpeg" id="clipped"></a> 
        </div>
          <div class="clipped-border">
           <a href="/images/smoke.jpeg"><img src="/images/smoke.jpeg" id="clipped"></a> 
        </div>
          <div class="clipped-border">
           <a href="/images/tesla.jpeg"><img src="/images/tesla.jpeg" id="clipped"></a> 
        </div>
        <div class = "shadow"></div>
      </div>
      
      

    
  </body>
</html>